//HERO INDEX//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

#hero {
    margin: auto;
    // flex: 1;
    display: flex;
    flex-direction: column;
    @include breakpoint-1 {
        min-width: 240px;
    }
    @include breakpoint-2 {
        min-width: 481px;
    }
    @include breakpoint-3 {
        min-width: 768px;
    }
    @include breakpoint-4 {
        min-width: 990px;
    }
    @include breakpoint-5 {
        min-width: 1024px;
    }
    @include breakpoint-6 {
        min-width: 1824px;
    }
}

//END HERO