//FOOTER//
@import "../../../../styles/abstract/variables";
@import "../../../../styles/abstract/mixins";


.main-footer {
    align-items: center;
    background-color: $dark-violet;
    bottom: 0;
    color: $white;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 9;
    .nav-open & {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
    }   
    .links-social-networks {
        align-items: center;
        display: flex;
        height: 70px;
        justify-content: center;
        @include breakpoint-1 {
            padding : 10px;
        }
        @include breakpoint-2 {
            padding: 10px 30px;
        }
        @include breakpoint-5 {
            padding: 10px 120px;
        }
        .icons-footer {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
            .item-social-network {
                .link-sm {
                    cursor: pointer; 
                    color: $white;
                    padding: 0;
                    @include breakpoint-1 {
                        margin: 0 10px;
                    }
                    @include breakpoint-2 {
                        margin: 0 20px;
                        &:hover  {
                            color: $orange;
                        }
                    }
                    @include breakpoint-3 {
                        margin: 0 30px;
                    }
                    @include breakpoint-4 {
                        margin: 0 40px;
                    }
                }
            }      
        }
    }
    
    .footer-footer {
        background-color: $dark-violet;
        display: block;
        font-family: $normal-font;
        padding: 5px;
        text-align: center;
        width: 100vw;
    }    
}
.footer-text {
    display: inline-block;
    font-family: $title-font;
    line-height: $font-size-s;
    padding: 3px;
    text-align: center;
    @include breakpoint-1 {
        font-size: $font-size-xs;
    }
    @include breakpoint-3 {
        font-size: $font-size-s;
    }
}
.link-footer {
    color: $white;        
    font-family: $title-font;
    font-size: $font-size-s;
    @include breakpoint-1 {
        font-size: $font-size-xs;
    }
    @include breakpoint-3 {
        font-size: $font-size-s;
    }
    &:hover {
        color: $yellow;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.5s ease;
    }
}