//IMG//
@import "../../../../../../styles/abstract/mixins.scss";
@import "../../../../../../styles/abstract/variables.scss";

#img-main{
    max-width: 100%;
    z-index: 2;
    @include breakpoint-1 {
        margin-top: 10px;
        // margin-bottom: 70px;
    }
    @include breakpoint-3 {
        margin-top: 15px;
    }
    @include breakpoint-4 {
        margin-top: 20px;
    }
}