@import "../../styles/abstract/mixins.scss";
@import "../../styles/abstract/variables.scss";

.grid-container {
    // margin: 50px;
    padding-top: 80px;
    height: max-content;
    width: 100vw;
    .gridCards {
        display: flex;
        justify-content: center;
        align-content: center;
        background-position: 50% 50%;
        @include breakpoint-6 {
            padding: 110px 0 0 0;
            display: grid;
            grid-template-columns: 16% 16% 16% 16% 16% 16%;
        }
        // @include breakpoint-7 {
        //     padding: 100px 200px;
        // }
    }
    .link-card {
        padding: 0;
        margin: 0;
        display: block;
    }
}
#imgDerechos{
    @include breakpoint-1 {
        background-position: right;
    }
}     
#imgSexoSexualidad, #imgGenero, #imgRelaciones{
    background-position: top;
}
