//HERO INDEX//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

#hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    // margin-top: 85px;
    // margin-bottom: 85px;
    width: 100vw;
    // height: 100hv;
    @include breakpoint-1 {
        min-width: 240px;
    }
    @include breakpoint-2 {
        min-width: 481px;
    }
    @include breakpoint-3 {
        min-width: 768px;
    }
    @include breakpoint-4 {
        min-width: 990px;
    }
    @include breakpoint-5 {
        min-width: 1024px;
    }
    @include breakpoint-6 {
        min-width: 1366px;
    }
    @include breakpoint-7 {
        min-width: 1824px;
    }
     
    .text-content {
        align-items: start;
        display: block;
        text-align: center;
        // margin: 95px 0 20px 0;
        @include breakpoint-1 {
            height: 100vh;
        }
        // @include breakpoint-3 {
        //     height: 50vh;
        // }
        @include breakpoint-7 {
            height: 50vh;
        }
        #text-hero { 
            margin: auto; 
            text-align: center;
            color: $white;
            font-family: $title-font;
            font-weight: bolder;
            text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
            @include breakpoint-1 {
                font-size: 3rem;
            }
            @include breakpoint-2 {
                font-size: 3rem;
            }
            @include breakpoint-3 {
                font-size: 4rem;
            }
            @include breakpoint-4 {
                font-size: 5rem;
            }
            @include breakpoint-5 {
                font-size: 5rem;
            }
            @include breakpoint-7 {
                font-size: 5rem;
            }
        }
}
    .img-container-hero {
        display: block;
        width: 100vw;
        position: relative;
        @include breakpoint-3 {
            height: 50vh;
        }
        #img-hero{
            position: relative;
            bottom: 85px;
            background-repeat: no-repeat;
            margin: auto;
            background-attachment: fixed;
            // padding: 85px 0;
            max-width: 100%;
            max-height: max-content;
            background-position: 30% 50%;
            @include breakpoint-1 {
                background-size: contain;
            }
            @include breakpoint-7 {
                background-attachment: scroll;
                background-size: cover;
                height: max-content;
            }
        }
    }
}


//END HERO