//HERO INDEX//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

#hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 100%;
    .text-content {
        display: block;
        text-align: center;
        margin: 0;
        padding: 80px 0;
        height: 585px;
        // @include breakpoint-3 {
        //     height: 585px;
        // }
        @include breakpoint-6 {
            height: 719px;
        }
        // @include breakpoint-7 {
        //     height: 100vh;
        // }
        #text-hero {
            padding-top: 150px;
            margin: auto; 
            text-align: center;
            color: $white;
            font-family: $title-font;
            font-weight: bolder;
            text-shadow: rgba(3, 3, 3, 0.719) 0 0 5px;
            @include breakpoint-1 {
                font-size: 3rem;
            }
            @include breakpoint-2 {
                font-size: 3rem;
            }
            @include breakpoint-3 {
                font-size: 4rem;
            }
            @include breakpoint-4 {
                font-size: 5rem;
            }
            @include breakpoint-5 {
                font-size: 5rem;
            }
            @include breakpoint-7 {
                // padding-top: 507px;
                font-size: 7rem;
            }
        }
    }
    .img-container-hero {
        display: block;
        width: 100vw;
        @include breakpoint-7 {
            height: 1000px;
        }
        #img-hero{
            background-repeat: no-repeat;
            margin: auto;
            background-attachment: fixed;
            max-width: 100%;
            @include breakpoint-1 {
                background-size: contain;
            }
            @include breakpoint-7 {
                background-attachment: unset;
                height: 100%;
                width: 100%;
            }
        }
        // #img-hero-big {
        //     background-repeat: no-repeat;
        //     // background-attachment: fixed;
        //     margin: auto;
        //     background-size:contain;
        //     height: 100%;
        //     width: 100%;
        // }
    }
}


//END HERO