//HERO INDEX//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

#hero {
    margin: 20px;
    // display: flex;
    // flex-direction: column;
    @include breakpoint-1 {
        min-width: 240px;
    }
    @include breakpoint-2 {
        min-width: 481px;
    }
    @include breakpoint-3 {
        min-width: 768px;
    }
    @include breakpoint-4 {
        min-width: 990px;
    }
    @include breakpoint-5 {
        min-width: 1024px;
    }
    @include breakpoint-6 {
        min-width: 1824px;
    }
}

#img-hero{
    margin: 0 0 50px 0;
    max-width: 100%;
    z-index: 2;
    // @include breakpoint-1 {
    //     margin-top: 10px;
    // }
    // @include breakpoint-3 {
    //     margin-top: 15px;
    // }
    // @include breakpoint-4 {
    //     margin-top: 20px;
    // }
}

// .text-content {
//     align-items: center;
//     display: block;
//     margin: auto;
//     @include breakpoint-1 {
//         margin-top: 100px;
//     }
//     @include breakpoint-2 {
//         margin-top: 120px;
//     }
//     @include breakpoint-3 {
//         margin-top: 130px;
//     }
//     @include breakpoint-4 {
//         margin-top: 140px;
//     }
    #text-hero {  
        text-align: center;
        color: $white;
        font-family: $title-font;
        font-weight: bolder;
        text-shadow: rgba(3, 3, 3, 0.719) 0 0 10px;
        @include breakpoint-1 {
            font-size: 3rem;
        }
        // @include breakpoint-2 {
        //     font-size: 3rem;
        // }
        @include breakpoint-3 {
            font-size: 3rem;
        }
        @include breakpoint-4 {
            font-size: 4rem;
        }
        @include breakpoint-5 {
            font-size: 5rem;
        }
        @include breakpoint-6 {
            font-size: $font-size-l;
        }
    }
// }

//END HERO