@import "../../../../../../styles/abstract/mixins.scss";
@import "../../../../../../styles/abstract/variables.scss";

.text-content {
    align-items: center;
    display: block;
    @include breakpoint-1 {
        margin-top: 100px;
    }
    @include breakpoint-2 {
        margin-top: 120px;
    }
    @include breakpoint-3 {
        margin-top: 130px;
    }
    @include breakpoint-4 {
        margin-top: 140px;
    }
    #text-hero {  
        text-align: center;
        color: $white;
        font-family: $title-font;
        font-weight: bolder;
        margin: auto;
        text-shadow: rgba(3, 3, 3, 0.719) 0 0 10px;
        @include breakpoint-1 {
            font-size: 2rem;
        }
        @include breakpoint-2 {
            font-size: 3rem;
        }
        @include breakpoint-3 {
            font-size: 4rem;
        }
        // @include breakpoint-4 {
        //     font-size: $font-size-l;
        // }
        // @include breakpoint-5 {
        //     font-size: $font-size-xl*2;
        // }
        // @include breakpoint-6 {
        //     font-size: $font-size-l;
        // }
    }
}