@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';

h2 {
    font-family: $title-font;
}

h3 {
    padding: 0 50px;
    text-align: left;
    font-family: $normal-font;
}

.formColaboration {
    padding: 0 100px;
}

p {
    margin: 0 50px 30px 50px;
    padding: 0;
    font-family: $normal-font;
    color: $dark-violet;
    text-align: justify;
    font-size: 2rem;
    a {
        color: $dark-violet;
        font-size: 2rem;
        &:hover {
            text-decoration: none;
            color: $yellow;
            transition: all ease .5s;
        }
    }
}

.text {
    font-size: 1rem;
    font-family: $normal-font;
    color: $dark-violet;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}