@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/variables.scss';

#education {
    flex: 1;
    .card {
        @include breakpoint-3 {
            opacity: 1;
            width: unset;
        }
        .img-handbook-container {
            display: block;
            width: 200px;
            height: 25%;
            #imgHandbook {
                margin: auto;
                max-width: 100%;
            }
        }
    }
}
