@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/variables.scss';

#education {
    height: 130vh;
}

.img-handbook-container {
    display: block;
    width: 20vw;
    height: 25%;
    @include breakpoint-7 {
        height: 693px;
    }
    // @include breakpoint-7 {
    //     height: 1000px;
    // }
    .card-box {
        padding: 30px 0;
        margin: auto;
    }
    #imgHandbook {
        margin: auto;
        max-width: 100%;
    }

}