//MAIN//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

.main {
    align-items: center;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    margin: 0;
    padding-bottom: 165px;
    // width: 100wv;
    // height: 100vh;
    flex: 1;
    .nav-open & {
        transition: all 0.3s;
        opacity: 0;
        overflow: hidden;
    }
}