//MAIN//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

.main {
    background-color: $dark-blue;
    display: block;
    opacity: 1;
    width: 100wv;
    height: 100vh;
    flex: 1;
    .nav-open & {
        transition: all 0.3s;
        opacity: 0;
        overflow: hidden;
    }
}