//NAV-HEADER//
@import "../../../../../../styles/abstract/variables";
@import "../../../../../../styles/abstract/mixins";

#menu-navegation {
    align-items: center;
    padding: 0 20px;
    display: inline-flex;
    justify-content: right;
    width: 100%;
    @include breakpoint-3 {
        display: flex;
        flex-direction: row;
    }
}