//CARDS//
@import "../../styles//abstract/variables";
@import "../../styles/abstract/mixins";

.card-box {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: inherit;
    @include breakpoint-2 {
        padding-left: 25px;
        padding-bottom: 30px;
    }
    @include breakpoint-6 {
        padding: 5px;
    }
    @include breakpoint-7 {
        padding: 23px;
    }
    .card {
        background-blend-mode: screen;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 25px;
        box-shadow: 0 3px 5px $dark-violet;
        max-width: 100%;
        @include breakpoint-1 {
            height: 330px;
            filter: contrast(45%);
            width: 240px;
        }  
        @include breakpoint-3 {
            width: 270px;
        }
        @include breakpoint-6 {
            filter: none;
            &:hover {
                z-index: 999;
                filter: contrast(40%);
                transform: all 1s;
            }
        }
        @include breakpoint-6 {
            max-width: 100%;
        }
    }
    .title-card {
            color: #000;
            letter-spacing: -1px;
            font-size: 2rem;
            font-family: $title-font;
            font-weight: bolder;
            text-transform: uppercase;
            position: absolute;
            text-shadow: 0 1px 3px $dark-violet;
            mix-blend-mode: overlay;
            bottom: 3%;
            left: 3%;
            @include breakpoint-2 {
                left: 11%;
                bottom: 11%;
            }
            @include breakpoint-6 {
                opacity: 0;
                left: 4%;
                bottom: 4%;
            }
            @include breakpoint-7 {
                left: 11%;
                bottom: 11%;
            }
    }
}
@include breakpoint-4 {
    .card:hover ~ .title-card {
            opacity: 1;
            font-size: 2rem;
            transition: all .7s;
    }
    .title-card:hover ~ .card {
            filter: contrast(35%);
    }
}
@include breakpoint-6 {
    .card:hover ~ .title-card {
            font-size: 1.5rem;
    }
}
// @include breakpoint-7 {
//     .card:hover ~ .title-card {
//             font-size: 2.5rem;
//     }
// }