@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/variables.scss';

#multimedia {
    height: 100vh;
}

h2 {
    font-family: $title-font;
}

h3 {
    padding: 0 50px;
    text-align: left;
    font-family: $normal-font;
    font-weight: bolder;
    color: $white;
}

.parraph {
    margin: 20px 0;
    padding: 0 50px;
    font-family: $normal-font;
    color: $white;
    text-align: justify;
    a {
        color: $white;
        &:hover {
            text-decoration: none;
            color: $yellow;
            transition: all ease .5s;
        }
    }
}

p {
    color: $white;
}