//MENU ITEM//
@import "../../../../../../../../styles/abstract/variables";
@import "../../../../../../../../styles/abstract/mixins";

.menu-item {
    display: flex;
    align-items: center;
    @include breakpoint-1 {
        opacity: 0;
        margin: 30px 10px;
        transform: translateX(20px);
        transition: all 0.3s;
        $time-offset-close: 0;
        @for $i from 5 through 1 {
            &:nth-child(#{$i}) {
                $time-offset-close: $time-offset-close + 0.5;
                transition-delay: #{$time-offset-close}s;
                span {
                    transition-delay: #{$time-offset-close}s;
                }
            }
        }
        .nav-open & {
            opacity: 1;
            // transition: all 0.3s;
            transform: translateX(0);
            backface-visibility: hidden;
            $time-offset-open: 1;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    $time-offset-open: $time-offset-open + 0.5;
                    transition-delay: #{$time-offset-open}s;
                    span {
                        transition-delay: #{$time-offset-open}s;
                    }
                }
            }
        }
    }
    @include breakpoint-3 {
        opacity: 1;
        margin: 0;
    }
}