//MENU LINK//
@import "../../../../../../../../styles/abstract/variables";
@import "../../../../../../../../styles/abstract/mixins";

.menu-link  {
    color: $white;
    display: inline-block;
    font-family: $title-font;
    font-size: $font-size-normal;
    font-weight: bolder;
    line-height: $line-height-mobile;
    text-transform: uppercase;
    .nav-open & {
        display: block;
        opacity: 1;
        text-align: start;
        transition: opacity 0s ease 2s;
    }	
    @include breakpoint-3 {
        font-size: $font-size-xs;
        padding: 0 15px;
        &:hover {
            color: $yellow;
            text-decoration-line: none;
            transition: color ease-out .7s;
        }
    }
    @include breakpoint-4 {
        cursor: pointer;
        // font-size: $font-size-s;
        margin: 0 5px;
    }
    @include breakpoint-5 {
        // font-size: $font-size-normal;
        margin: 0 5px;
    }
    @include breakpoint-7 {
        // font-size: $font-size-l;
        margin: 0 5px;
        padding: 0 20px;
    }
}

.link-footer {
    color: $white;        
    font-family: $title-font;
    font-size: $font-size-s;
    @include breakpoint-1 {
        font-size: $font-size-xs;
    }
    @include breakpoint-3 {
        font-size: $font-size-s;
    }
    &:hover {
        color: $yellow;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.5s ease;
    }
}