//MAIN//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    opacity: 1;
    width: 100vw;
    // margin-top: 85px;
    // margin: 0 0 200px 0;
    padding-bottom: 170px;
    // padding-bottom: 165px;
    @include breakpoint-7 {
        min-width: 1824px;
    }
    .nav-open & {
        transition: all 0.3s;
        opacity: 0;
        overflow: hidden;
    }
}