//MAIN//
@import "../../../../styles/abstract/mixins.scss";
@import "../../../../styles/abstract/variables.scss";

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    opacity: 1;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 190px;
    .nav-open & {
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s;
    }
}